body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.image {
    background-image: url(img/build.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    color: #fff;
    text-align: center;
}

.h1 {
   font-size: 40px;
   font-weight: 500;
}

.text p{
    font-size: 20px;
    font-weight: 500 ;
    line-height: 20px;
}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 30px;
    border-radius:5px ;
    margin-top: 10px;
    display: inline-block;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}
